@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@1,9..144,700&family=Montserrat:wght@700&family=Outfit:wght@400;700&display=swap");
body {
  background-color:  hsl(212, 45%, 89%);
  padding-top: 70px; /*added this line of code to add space on top of the card*/
}

.container {
  /*width: 100%;*/

  width: 300px; /*change this to a spefic size , not 100% . I will tell u when to use 100%, but we use 100% in images most of the time , to avoid cutting the image when screen is small*/
  /*max-width: 600px;  - I removed this line of code */
  background-color:hsl(0, 0%, 100%);
  border-radius: 20px;
  /*padding: 200px;*/
  margin: auto;
display: flex;
flex-direction: column;
  /*padding-bottom: 200px;* i removed this  line */
}

.qr-code {

  padding: 15px;
}
img{
  background-size: cover;
  width: 100%;
  
  border-radius: 10px;
}
.text-content h2,
.text-content p {
  
  text-align: center;
  position: relative;
  z-index: 2;

  
}
.text-content{
  margin-top: -150px;
}
.text-content h2 {
  color: hsl(218, 44%, 22%);
  margin-bottom: 10px;
  font-weight: 700;
  font-family: "Outfit", sans-serif;
  
}
.text-content p {
  color: hsl(220, 15%, 55%);
  font-weight: 400;
  font-family: "Outfit", sans-serif;
  padding: 10px;
}
/*font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Outfit', sans-serif;*/
@media (min-width: 768px) {
  .container {
    max-width: 800px;
  }
  .qr-code {
    height: 400px;
  }
}
